.pending-container {
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 35vh;
    left: 35vw;
    z-index: 10;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.pending-container p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.spinner {
    border: 5px solid #e2e2e2; /* Light grey */
    border-top: 5px solid #DF7861; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 1100px) {
      .pending-container {
          height: 60vh;
          width: 60vw;
          top: 20vh;
          left: 20vw;
      }
  }

  @media only screen and (max-width: 700px) {
    .pending-container {
        height: 80vh;
        width: 80vw;
        top: 10vh;
        left: 10vw;
    }
}

